HOST = "mail.example.ru"
PORT = 993

AUTH_USER = "example@example.ru"
TARGET_USER = "example.example@example.ru"
PASSWORD = "superpass"

HOST1="mail.example.ru"
AUTHUSER1="example@example.ru"
PASSWORD1="superpass"

HOST2="mail.example.ru"
AUTHUSER2="example@example.org"
PASSWORD2="superpass"

USER1 = "example@example.ru"
USER2 = "example@example.org"