SOURCE__SERVER=mail.example.ru
SOURCE__PORT=993
SOURCE__AUTH_USER=example@example.ru
SOURCE__PASSWORD=superpass_source

TARGET__SERVER=mail.example.org
TARGET__PORT=993
TARGET__AUTH_USER=example@example.org
TARGET__PASSWORD=superpass_target