AUTH_USER_SOURCE = "example@example.ru" # impersonation source mail admin
PASSWORD_SOURCE = "superpass_source" # impersonation source mail admin password
AUTH_USER_TARGET = "example@example.org" # impersonation target mail admin
PASSWORD_TARGET = "superpass_target" # impersonation target mail admin password

SOURCE_SERVER = "mail.example.ru" # source mail server
TARGET_SERVER = "mail.example.org"
PORT_SOURCE = 993 # source mail server port IMAP
PORT_TARGET = 993 # target mail server port IMAP
#DELETE HOST = "mail.example.ru"
#DELETE PORT = 993
#DELETE HOST1 ="mail.example.ru" # source mail server
#DELETE AUTHUSER1="example@example.ru" # TODO change AUTHUSER1 to AUTH_USER
#DELETE PASSWORD1="superpass" # TODO 
#DELETE HOST2="mail.example.ru" # target mail server
#DELETE AUTHUSER2="example@example.org" # TODO change AUTHUSER2 to AUTH_USER
#DELETE PASSWORD2="superpass"
#DELETE USER1 = "example@example.ru"
#DELETE USER2 = "example@example.org"
